body {
  box-sizing: border;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.75em;
}
.intro {
  text-align: left;  
  text-shadow: -1px -1px #000000;
  color: black;
  border-style: solid;
  border-color: rgb(175, 34, 34);
  border-block-start-color: blue;
  padding: 10px;
}

.edu {
  text-align: left;  
  text-shadow: -1px -1px #000000;
  color: black;
  border-style: solid;
  border-color: rgb(175, 34, 34);
  border-block-start-color: blue;
  padding: 10px;
}
.goals {
  text-align: left;  
  text-shadow: -1px -1px #000000;
  color: black;
  border-style: solid;
  border-color: rgb(175, 34, 34);
  border-block-start-color: blue;
  padding: 10px;
}
.pro {
  text-align: left;  
  text-shadow: -1px -1px #000000;
  color: black;
  border-style: solid;
  border-color: rgb(175, 34, 34);
  border-block-start-color: blue;
  padding: 10px;
}
header {
  border: 4px dotted blue;
  margin: 5px;
  padding: 9px;
}

section {
  border: 4px dotted blue;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 10px;
}

img {
  width: 50%;
  display: block;
  margin: 10px auto;
}

ol {
  list-style: decimal;
  list-style-position: inside;
}

footer {
  margin-top: 20px;
  margin-left: 5px;
}
